build==1.4.0
click==8.3.1
colorlog==6.10.1
flake8==7.3.0
fonttools==4.61.1
hyperglot==0.7.3
mccabe==0.7.0
packaging==26.0
pycodestyle==2.14.0
pyflakes==3.4.0
pyproject-hooks==1.2.0
pyyaml==6.0.3
ruff==0.15.1
setuptools==80.10.2
setuptools-scm==9.2.2
uharfbuzz==0.53.3
wheel==0.46.3
